@{
    ViewData["Title"] = "Confirmação";
}
<h1>@ViewData["Title"]</h1>

<p>Aluno foi adicionado com sucesso!</p>

<p>
    <a asp-action="Cadastro">Adicionar outro aluno</a>
</p>

<p>
    <a asp-action="Lista">Ver lista</a>
</p>
